:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--cyan);
}
